<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>5city mazebank vault hack</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.2.1/math.min.js" integrity="sha512-P/tfgnVm6RM6aQU1tpWKjDPF6otdDVURF8dlET8Icu5IHJ4261mE6tXhh9lumrRhIOCzzi8QpaPQ2urpY6sK8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <div class="view">
        <div class="title">
            <h1 class="riddle-title">Rozwiąż zagadkę</h1>
        </div>
        <div class="riddle-container">
            <form>
                <table class="table">
                    <tr class="row">
                        <td class="column none"></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="onetwo" /></td>
                        <td class="column none"></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="onefour" /></td>
                        <td class="column none"></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="onesix" /></td>
                        <td class="column none"></td>
                    </tr>
                    <tr class="row">
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="twoone" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="twotwo" disabled="disabled" /></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="twothree" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="twofour" disabled="disabled" /></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="twofive" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="twosix" disabled="disabled" /></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="twoseven" /></td>
                    </tr>
                    <tr class="row">
                        <td class="column none"></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourthree" /></td>
                        <td class="column none"></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourthree" /></td>
                        <td class="column none"></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourthree" /></td>
                        <td class="column none"></td>
                    </tr>
                    <tr class="row">
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="fourone" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="fourtwo" disabled="disabled" /></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourthree" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="fourfour" disabled="disabled" /></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourfive" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="foursix" disabled="disabled" /></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="fourseven" /></td>
                    </tr>
                    <tr class="row">
                        <td class="column none"></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourthree" /></td>
                        <td class="column none"></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourthree" /></td>
                        <td class="column none"></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="fourthree" /></td>
                        <td class="column none"></td>
                    </tr>
                    <tr class="row">
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="twoone" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="twotwo" disabled="disabled" /></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="twothree" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="twofour" disabled="disabled" /></td>
                        <td class="column signs"><input class="sign" type="text" maxlength="1" name="twofive" /></td>
                        <td class="column results"><input class="result" type="text" maxlength="1" name="twosix" disabled="disabled" /></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="twoseven" /></td>
                    </tr>
                    <tr class="row">
                        <td class="column none"></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="onetwo" /></td>
                        <td class="column none"></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="onefour" /></td>
                        <td class="column none"></td>
                        <td class="column inputs"><input class="number" type="text" maxlength="2" name="onesix" /></td>
                        <td class="column none"></td>
                    </tr>
                </table>
                <div class="button-container"><button class="submit" type="submit">Potwierdź</button><button class="reset" type="reset">Reset</button></div>
            </form>
        </div>
    </div>
</body>

</html>