* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0e0f;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.table {
    border-spacing: 20px;
}

.row,
.column,
input {
    width: 50px;
    height: 50px;
}

input {
    font-size: 25px;
    line-height: 25px;
    color: #FFF;
    text-align: center;
}

.input,
.number,
.submit {
    outline: 1px solid #3d7569;
    border: 1px solid #216e5d;
    background: #24514a;
}

.result {
    outline: 1px solid #7c7b7c;
    border: 1px solid #777678;
    background: #272627;
}

.sign,
.reset {
    outline: 1px solid #3b2c56;
    border: 1px solid #554575;
    background: #3e3053;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}

.submit,
.reset {
    width: 110px;
    height: 40px;
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
}